@import 'global';

header {
  text-align: center;
}

app-photo-overview-item,
.skeleton-card {
  flex: 1 calc(33.33333% - 2rem);
  height: 30rem;
  margin: 1rem;

  @media screen and (max-width: $screen-s) {
    flex: 1 calc(50% - 2rem);
  }

  @media screen and (max-width: $screen-xxs) {
    flex: 1 calc(100% - 2rem);
  }
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

raw3-icon-button {
  margin: 3rem auto;
}
