@import 'helpers/variables';

button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
}

.button--fixed {
  position: fixed;
  top: 3rem;
  right: 1.5rem;
  z-index: 99;

  @media screen and (max-width: $screen-xs) {
    top: $header-height + 3rem;
  }
}
