.skeleton-container {
  display: block;
}

.skeleton-line--title {
  margin-bottom: 4rem;
}

.skeleton-block {
  height: 50vh;
  margin-bottom: 3rem;
}

.skeleton-line--text {
  margin-bottom: 2rem;
}
