@import 'global';

:host {
  transition: top $transition-base;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($clr-black, 0.9);
  height: 100vh;
  width: $sidebar-width;
  text-align: center;
  z-index: 99;
}

nav {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

a {
  transition: color $transition-base, border-color $transition-base;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 2rem 0.5rem;

  &:not(.active):hover {
    color: rgba($clr-white, $opacity-secondary);
  }

  &:focus {
    border-color: $clr-blue-100;
  }

  &.active {
    background-color: rgba($clr-white, 0.1);

    &:focus {
      border-color: rgba($clr-white, 0.15);
    }
  }

  span {
    margin: 0;
  }

  .icon {
    margin-left: 1rem;
    margin-right: 2rem;
    pointer-events: none;
  }
}

.home {
  justify-content: center;
}
