:host {
  display: block;
}

.skeleton-card {
  height: 55rem;
  display: block;
}

.skeleton-block {
  height: 20rem;
  width: 100%;
}

.skeleton-line--subtitle {
  margin: 3rem 3rem 6rem;
}

.skeleton-line--text {
  margin: 1.5rem 3rem 0;
}
